<h1>Fantasy Football Lineup Generator</h1>
<hr>
<p>A small rails app that takes fantasy football data and returns lineup permutations with the highest scoring potential.</p>

<p>Source available on github: <%= link_to "github.com/gxespino/daily_fantasy_sports", "https://github.com/gxespino/daily_fantasy_sports", target: "_blank" %>
</p>

<br>
<%= link_to "Import new datasets", new_dataset_path, class: "btn btn-info" %>

